body{
    display: flex;
    gap: 30px;
}
div {
    
    width: 80px;
    height: 80px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
div:active{
    background-color: yellow;
        border: 5px black solid;

}